<div class="boshi-footer-wrapper settings_footer_background">
	<div class="footer-top">
		{% if settings.footer_user_logo %}
		<a
		href="{{ settings.footer_logo_link }}"
		target="{% if settings.footer_logo_linktype == 1 %}_blank{% else %}_self{% endif %}"
		>
			<img src="{{'footer-logo' | asset_url }}" alt="">
		</a>
		{% endif %}
		<div class="footer-nav">
			<ul>
				{% for link in linklists.footer.links%}
				<li>
					<div class="item-wrapper">
						<a
						class="settings-footerNavLink_1_color"
						href="{% unless link.link_type == 'no_link' %}{{ link.page_url }}{% else %}javascript:void(0);{% endunless %}"
						target="{% if link.target_type == 1 %}_blank{% else %}_self{% endif %}"
						>{{ link.title }}</a>
						{% if link.links.size > 0 %}
						<div class="sub-link-wrapper">
							<ul>
								{% for sub_link in link.links %}
								<li>
									<a
									class="settings-footerNavLink_color"
									href="{% unless sub_link.link_type == 'no_link' %}{{ sub_link.page_url }}{% else %}javascript:void(0);{% endunless %}"
									target="{% if link.target_type == 1 %}_blank{% else %}_self{% endif %}"
									>{{ sub_link.title }}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
						{% endif %}
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="footer-address">
			<div class="address settings_footer_phone_address_color">{{settings.footer_address}}</div>
			<div class="phone-number settings_footer_phone_address_color">{{settings.footer_phone_number}}</div>
		</div>
	</div>
	<div class="footer-line settings_footer_line_color"></div>
	<div class="footer-info">
		<a class="left settings_footer_copy_right_color"
		href="{{ settings.footer_item1_link }}"
		target="{% if settings.footer_item1_linktype == 1 %}_blank{% else %}_self{% endif %}"
		>{{settings.footer_item1_text}} | {{settings.footer_item2_text}}</a>
		<a class="right settings_footer_item_color"
		href="{{ settings.footer_item1_link }}"
		target="{% if settings.footer_item1_linktype == 1 %}_blank{% else %}_self{% endif %}"
		>{{settings.footer_copy_right}}</a>
	</div>
</div>
