.blog-wrapper {
  position: relative;
  box-shadow: inset 0px 55px 20px -50px rgba(10, 1, 3, 0.13);
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}
.blog-wrapper > .bg1 {
  position: absolute;
  left: 0;
  width: 200px;
  top: 0;
}
.blog-wrapper > .bg2 {
  position: absolute;
  width: 270px;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .blog-wrapper > .bg1, .blog-wrapper > .bg2 {
    display: none;
  }
}
.blog-wrapper > .content-body {
  width: 1350px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .blog-wrapper > .content-body {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.blog-wrapper > .content-body > .blog_cont-article > .content-title {
  width: 600px;
  font-size: 18px;
  color: #383838;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .blog-wrapper > .content-body > .blog_cont-article > .content-title {
    width: 100%;
  }
}
.blog-wrapper > .content-body > .blog_cont-article > .info-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid RGBA(229, 229, 229, 1);
  border-bottom: 1px solid RGBA(229, 229, 229, 1);
  align-items: center;
  margin: 30px 0;
  height: 70px;
}
.blog-wrapper > .content-body > .blog_cont-article > .info-wrapper > .date-wrapper {
  display: flex;
  align-items: center;
  color: #b2b2b2;
}
.blog-wrapper > .content-body > .blog_cont-article > .info-wrapper > .date-wrapper > .icon {
  margin-right: 5px;
  fill: #b2b2b2;
  width: 20px;
  height: 20px;
}
.blog-wrapper > .content-body > .blog_cont-article > .info-wrapper > .share-wrapper {
  display: flex;
}
.blog-wrapper > .content-body > .blog_cont-article > .info-wrapper > .share-wrapper > div {
  height: 35px;
  width: 35px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: RGBA(241, 241, 241, 1);
  cursor: pointer;
}
.blog-wrapper > .content-body > .blog_cont-article > .info-wrapper > .share-wrapper > div:not(:last-child) {
  margin-right: 10px;
}
.blog-wrapper > .content-body > .blog_cont-article > .info-wrapper > .share-wrapper > div > .icon {
  width: 20px;
  height: 20px;
}
.blog-wrapper > .content-body > .blog_cont-article > .info-wrapper > .share-wrapper > div:hover {
  background-color: red;
}
.blog-wrapper > .content-body > .blog_cont-article > .info-wrapper > .share-wrapper > div:hover > .icon {
  fill: white;
}
.blog-wrapper > .content-body > .sharewrap {
  display: none;
}
.blog-wrapper > .content-body > .page-wrapper {
  height: 65px;
  border-radius: 4px;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: RGBA(243, 243, 245, 1);
  position: relative;
}
.blog-wrapper > .content-body > .page-wrapper > .prev {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  color: #666666;
  left: 20px;
  transform: translateY(-50%);
}
.blog-wrapper > .content-body > .page-wrapper > .prev > .icon {
  fill: #666666;
  width: 25px;
  height: 25px;
}
.blog-wrapper > .content-body > .page-wrapper > .next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  color: #666666;
  right: 20px;
  transform: translateY(-50%);
}
.blog-wrapper > .content-body > .page-wrapper > .next > .icon {
  fill: #666666;
  width: 25px;
  height: 25px;
}
.blog-wrapper > .content-body > .page-wrapper > .middle {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  color: #666666;
  transform: translate(-50%, -50%);
}
.blog-wrapper > .content-body > .page-wrapper > .middle > .icon {
  fill: #666666;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}
