<div class="wrap">
  <div class="row mod blog_cont_fix">
    <div class="blog_cont settings-blog_color">
      <!-- 返回博客列表 -->
      <div class="blog_cont-top clearfix">
        <a class="blog_cont-top-back settings-blogDesc_color" href="/blogs" title="返回博客列表"><span class="blog_cont-back-sign">&lt;&lt;</span>返回博客列表</a>
      </div>
      <!-- 返回博客内容 -->
      <div class="blog_cont--inner settings-blog_border settings-blog_background">
        <div class="blog_cont--body">
          {% case blog.type %}
          <!-- 文章  -->
          {% when 0 %}
          <div class="blog_cont-article lazyload_scope img_zoom_scope">
            <h1 class="blog_cont-article-title">{{ blog.title }}</h1>
          <!-- 图片 -->
          {% when 1 %}
          <div class="blog_cont-image lazyload_scope img_zoom_scope">
            <div class="blog_cont-image-list">
              {% for image in blog.images%}
              <div class="blog_cont-image-list-item">
                <img class="blog_cont-image-list-item-view lazyload" src="{{ 'blank.gif' | global_asset_url }}" data-src="{{image.src}}" alt="{{image.alt}}">
                {% if image.alt != '' %}
                <span class="blog_cont-image-list-item-desc settings-blog_desc_color">{{image.alt}}</span>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          <!-- 音乐 -->
          {% when 2 %}
          <div class="blog_cont-music">
            <div class="blog_cont-music-item">
              <div class="blog_cont-music-item-disc">
                <img class="blog_cont-music-item-disc-img" src="{{ blog.music_cover_url }}" alt="{{ blog.music_name }}">
                <div class="blog_cont-music-item-disc-film"></div>
                <a class="blog_cont-music-item-disc-play" href="http://music.163.com/{% if is_mobile_agent == '' %}#/{% endif %}song?id={{ blog.music_trackid }}" title="{{ blog.music_name }}" target="_blank"><span class="iconfont blog_cont-music-item-disc-play-icon">&#xe626;</span></a>
              </div>
              <a class="blog_cont-music-name settings-blog_color" href="http://music.163.com/{% if is_mobile_agent == '' %}#/{% endif %}song?id={{ blog.music_trackid }}" title="{{ blog.music_name }}" target="_blank">{{ blog.music_name }}</a>
              <div class="blog_cont-music-info settings-blogDesc_color">{{ blog.music_album }} — {{ blog.music_artists }}</div>
            </div>
          <!-- 视频 -->
          {% when 3 %}
          <div class="blog_cont-video">
            <div class="blog_cont-video-view">{{ blog.video_script }}</div>
          {% endcase %}
          {% if blog.content %}
            <div class="blog_cont-text settings-blog_color">{{ blog.content }}</div>
          {% endif %}
          </div>
          <!-- 标签&日期 -->
          <div class="blog_cont-footer {% unless blog.blog_tags.size > 0 %}no__tags{% endunless %} clearfix">
            <div class="iconfont blog_cont-footer-tags-icon settings-blogTinge_color">&#xe60c;</div>
            <div class="blog_cont-footer-time settings-blogTinge_color">
            <span class="blog_cont-head-author">
            <a class="blog_cont-head-author-img" href="/blogs?author={{ blog.blog_author.name | url_escape }}" title="{{ blog.blog_author.name }}"><img class="blog_cont-head-author-img-src" alt="{{ blog.blog_author.avatar.alt }}" src="{{ blog.blog_author.avatar | product_image_url: 80, 80 }}" title="{{ blog.blog_author.name }}_img"></a><a class="blog_cont-head-author-name settings-blogDesc_color underline_hover" href="/blogs?author={{ blog.blog_author.name | url_escape }}" title="{{ blog.blog_author.name }}">{{ blog.blog_author.name }}</a>
            </span>
              <i>·</i>
              {{ blog.post_at | date: "%F" }}
              <span class="blog_cont-footer-time-m"> {{ blog.post_at | date: "%R" }}</span>
            </div>
            <div class="blog_cont-footer-tags-items clearfix">
            {% for tag in blog.blog_tags %}
              <a class="blog_cont-footer-tags-link settings-blogTinge_color settings-blogTextHover_color {% if forloop.last %} last {% endif %}" href="/blogs?tag={{ tag.name | url_escape }}" title="{{ tag.name }}">#{{ tag.name }}</a>
            {%endfor%}
              {% include 'share_box' with 'blog' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="blog_cont-head-nav">
    {% capture prev_url %}{{ blog.handle | previous_blog_url : blog_author.name, blog_tag.name }}{% endcapture %}
    {% capture next_url %}{{ blog.handle | next_blog_url : blog_author.name, blog_tag.name }}{% endcapture %}
    {% if prev_url != '' %}<a class="iconfont blog_cont-head-nav-prev settings-blogBtn_color settings-blogBtn_border settings-blogBtn_background" href="{{ prev_url }}" title="上一篇">&#xe623; 上一篇</a>{% endif %}{% if next_url != '' %}<a class="iconfont blog_cont-head-nav-next settings-blogBtn_color settings-blogBtn_border settings-blogBtn_background" href="{{ next_url }}" title="下一篇">下一篇 &#xe624;</a>{% endif %}
    </div>
</div>

