{{'about-us-custom.css' | asset_url | css_tag }}
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=f8b93c0a64a54441e273f1925de4613a"></script>

<div class="about-us-common">
	<div class="about-us-img-wrapper">
		<img src="{{'about-us' | asset_url }}" alt="">
	</div>
	<div class="about-us-nav">
		<ul>
			<li class="home-icon">
				<svg t="1596102709574" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4006"><path d="M763.349333 426.666667L507.306667 170.624 251.264 426.666667h0.042667v426.666666h512V426.666667h0.042666z m85.290667 85.290666V853.333333a85.333333 85.333333 0 0 1-85.333333 85.333334h-512a85.333333 85.333333 0 0 1-85.333334-85.333334v-341.376l-63.018666 62.976L42.666667 514.645333l404.352-404.352c33.28-33.28 87.296-33.28 120.576 0l404.352 404.352-60.288 60.288L848.64 512z" p-id="4007"></path></svg>
				<span class="line"></span>
			</li>
			{% for link in linklists['n000003'].links%}
			<li class="nav-item">
				<a
					data-active="{{forloop.index}}"
					href="{% unless link.link_type == 'no_link' %}{{ link.page_url }}{% else %}javascript:void(0);{% endunless %}"
					target="{% if link.target_type == 1 %}_blank{% else %}_self{% endif %}">{{ link.title }}</a>
					{% unless forloop.last %}
					<span class="line"></span>
					{% endunless %}
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="about-us-six">
	<div class="title-wrapper">
		<h3>联系我们</h3>
	</div>
	<div class="contact-wrapper">
	<div class="inner-wrapper">
		<div class="campus-address">
			<div class="img-wrapper">
				<img src="{{'contact-icon-1' | asset_url }}" alt="">
			</div>
			<span>校区地址</span>
			<p>深圳市宝安区华侨城欢乐港湾海府生态大厦G栋2座（海天路与宝华路交汇处）</p>
		</div>
		<div class="driving-route">
			<div class="img-wrapper">
				<img src="{{'contact-icon-2' | asset_url }}" alt="">
			</div>
			<span>行车线路</span>
			<p>地图导航定位请搜索 “博石幼儿园”</p>
		</div>
		<div class="public-transit">
			<div class="img-wrapper">
				<img src="{{'contact-icon-3' | asset_url }}" alt="">
			</div>
			<span>公共交通</span>
			<p class="special">地铁5号线临海站A出口（全程约477米）</p>
			<p class="sepcial">宝华站A出口（全程约645米）</p>
		</div>
		<div class="contact-information">
			<div class="img-wrapper">
				<img src="{{'contact-icon-4' | asset_url }}" alt="">
			</div>
			<span>联系信息</span>
			<p class="special">官网邮箱：kidsclub@broadstone.com</p>
			<p class="special">电话：（+86）755 2683 0454</p>
		</div>
	</div>
	</div>
	<div class="info-map-wrapper">
		<div class="map-wrapper">
			<div class="map-address">
				<div class="toggle-wrapper">定位地址
					<svg t="1596445769234" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1987" width="200" height="200"><path d="M384 349.866667l166.4 166.4L384 682.666667a41.258667 41.258667 0 0 0 0 59.733333 41.258667 41.258667 0 0 0 59.733333 0l196.266667-196.266667a41.258667 41.258667 0 0 0 0-59.733333l-196.266667-196.266667A42.24 42.24 0 1 0 384 349.866667z" p-id="1988"></path></svg>
				</div>
				<div class="content">
					<div class="address" data-item="addrOne">深圳前海园</div>
					<div class="address" data-item="addrTwo">上海静安区</div>
					<div class="address" data-item="addrThree">北京朝阳区</div>
				</div>
			</div>
			<div id="map-container"></div>
		</div>
		<div class="info-wrapper">
			<div class="left">
				<p class="notice">您可关注博石幼儿园公众号或招生闻老师微信，获取更多信息。</p>
				<p class="phone-number">招生电话：<span>181 4583 8196</span>（闻老师）</p>
				<p class="query-site">更多信息欢迎查询官网：<span>kidsclub@broadstone.com</span></p>
				<p class="email">招聘邮箱：<span>francine.zhang@broadstone.cn</span></p>
			</div>
			<div class="right">
				<div class="wrapper-one">
					<img src="{{'qrcode-2' | asset_url }}" alt="">
					<span>微信公众号</span>
				</div>
				<div class="wrapper-two">
					<img src="{{'qrcode-1' | asset_url }}" alt="">
					<span>招生闻老师</span>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	const address = {
		addrOne: [113.886327,22.544053],
		addrTwo: [113.417066,23.173985],
		addrThree: [113.385642,22.935482]
	};
	function initMap(positionArray) {
		var map = new AMap.Map('map-container', {
			zoom:16,//级别
			center: positionArray,//中心点坐标
			viewMode:'3D'//使用3D视图
		});
		var marker = new AMap.Marker({
			position:positionArray
		})
		map.add(marker);
	}
	initMap(location.addrOne);

	const addressEle = $('.map-address > .content > div');
	addressEle.on('click', function() {
		initMap(address[this.getAttribute('data-item')]);
	});

	const toggleWrapper = $('.map-address > .toggle-wrapper');
	toggleWrapper.on('click', function() {
		const content = this.nextElementSibling;
		this.getElementsByClassName('icon')[0].classList.toggle('active');
		if (content.style.maxHeight){
			content.style.maxHeight = null;
		} else {
			content.style.maxHeight = content.scrollHeight + "px";
		}
	})
</script>